.a{
  background-color: #D4ECDD;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
.z
{
  text-align: center;
}
.a{
  color:#3B0000;
}
body{
  margin: 0;
}
h1{
  margin-top: 0;
}
img{
height: 370px;
  max-width: 1000px;
}
.x{
  padding: 10px;
  background-color:  #D4ECDD;
}
.sections{
  background-color: #D4ECDD;
  font-size: 20px;
  text-align: center;
}
.about{
   background-color: #D4ECDD;
   font-size: 20px;
   padding: 10px;
   text-align: center;

}
.im1{
  height: 200px;
}
